.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 20px;
  font-size: 25px;
}

h1 {
  width: 100vw;
  text-align: center;
}